<%=form_with model: comment, url: '#', data: { reflex: "submit->CommentReflex#submit" } do |f| %>
  <%= f.text_field :author, placeholder: 'Enter with the author or leave blank for anonymous', class: 'form-control mb-2' %>
  <%= f.text_area :content, placeholder: 'Enter with the content', class: 'form-control mb-2' %>
  <%= f.submit 'Create', class: 'btn btn-primary btn-sm' %>
<% end %>