<h3>It's time to create a Comment for: <%=current_post.title%></h3>

<div id="comment-form-<%=current_post.id%>">
  <%= render partial: "form", locals: { comment: current_comment }%>
</div>

<hr />
<h5>List of Comments</h5>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Author</th>
      <th>Content</th>
    </tr>
  </thead>

  <tbody id="comments-for-<%=current_post.id%>">
    <%=render partial: "table_row", collection: current_post.comments.with_cache.order(created_at: :desc), as: :comment %>
  </tbody>
</table>