<%=form_with model: post, data: { reflex: "submit->PostReflex#submit" } do |f| %>
  <%= f.text_field :title, placeholder: 'Enter with the title', class: 'form-control mb-2' %>
  <%= f.text_area :content, placeholder: 'Enter with the content', class: 'form-control mb-2' %>
  <%= f.submit 'Create', class: 'btn btn-primary btn-sm' %>
<% end %>