<div class="card mb-2 bg-light">
  <div class="card-header"><h4><%=post.title%></h4></div>
  <div class="card-body">
    <div class="card-text"><%=post.content%></div>
  </div>
  <div class="card-footer">
    <%= link_to  "Comments", post_comments_path(post), class:"btn btn-secondary btn-sm" %>
  </div>
</div>