<!DOCTYPE html>
<html>
  <head>
    <title>StimlusReflexPosts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container h-100">
      <div class="row mt-4 justify-content-center align-items-center">
        <div class="col-12">
          <h2>StimulusReflexPosts
            <small id="posts-count">Total of posts <%=@count_posts%></small>
          </h2>
          <div class="btn-group mt-2" role="group" aria-label="Application Actions">
            <%= link_to "Dashboard", root_path, class:"btn btn-primary" %>
            <%= link_to "Create Post", new_post_path, class:"btn btn-secondary" %>
          </div>
          <hr />
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
